<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.4" package="com.wilson.MEPS_Log" android:versionCode="4">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="26" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="MEPS Log" android:icon="@drawable/ic_launcher" android:theme="@style/MyTheme"></application>
</manifest>